*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #89838E;
    transition: 0.5s;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header.logo{
    max-width: 100px;
    position: relative;
} 
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
}
header ul li a{
    display: inline-block;
    color: #fff;
    margin: 30px;
    text-decoration: none;
    font-weight: bold;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .texBox{
    position: relative;
    width: 600px;
}
.content .texBox h2{
    color: #fff;
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
}
.content .texBox h2 span{
    font-size: 2em;
}
.content .texBox p{
    color: #fff;
}
.content .texBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #fff;
    border-radius: 40px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase ;
}
.content .ingBox{
    width: 600px;
    display: flex;
    padding-right: 50px;
    justify-content: flex-end;
    margin-top: 50px;
}